@import 'fonts';
@import 'colors';
@import 'html';




body {
    margin: 0;
    background: #f5f5f5;
    color: var(--black);
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

a {
    color: var(--blue);
    text-decoration: none;

    &:hover {
        color: var(--blueH);
    }
}

@import 'header';