extends layout

block layout-content
  header 
   div.header__title JGibbens: #[strong Coding Challenge]
   div.header__search
    div.inputForm
     form(action='/', method='POST')
      input(type='submit', value='Search').inputForm__button
      input(type='text', name='fname', value='', placeholder="Enter location").inputForm__search
  main
   section
   
    section
     div#list
      div#recordCount
      p#startMsg Use the search tool above to find a parking lot in your area
     


  script.
   var data = !{JSON.stringify(yyy)}
   console.log(data)
   if(data){
         document.getElementById("recordCount").innerHTML +='<div>'+data.length+' records retrieved</div>';

    for(var i = 0; i < data.length; i++) {
      var html = '<div class="item">';
      var obj = data[i];
      var score = ( obj.review_count * obj.rating ) / (obj.review_count + 1);

      // show the image
      html+='<div class="item__img">';
     
      if(obj.image_url== null || obj.image_url== "" || obj.image_url== undefined){
        html += '<div class="missing_image"><i class="fas fa-image"></i></div>'
      }else{  
        html+='<img src="' + obj.image_url +'">';
      }

     
      html += '</div>';
      html+='<div class="item__body">';

      //name
      html+='<div class="item__body--name">'+obj.name+'</div>';

      //star rating


        if(obj.rating % 1){
          html+='<div class="item__body--rating item__body--half">';
        }else{
          html+='<div class="item__body--rating">';
        }
        
      for(var p= 0;p<5;p++){

   


        if(p <= obj.rating-1){
          html +='<div class="star star';
        if(obj.rating >=4  || obj.rating ==5 ){
          html +='__red'
        }else if(obj.rating >=3 && obj.rating < 4 ){
          html +='__darkorange'
        }else if(obj.rating >=2 && obj.rating < 3 ){
          html +='__orange'
        }else if(obj.rating >=0 && obj.rating < 2   ){
          html +='__yellow'
        }


       

          console.log(p + ' : ' +obj.rating)
        

          html +='"><i class="fas fa-star"></i></div>'
  
      }else{
        html +='<div class="star"><i class="fas fa-star"></i></div>'
      }

      }

    
      html += '</div>';

      // review count
      html+='<div class="item__body--review"><a href="'+obj.url+'" title="Read reviews" target="_blank">'+obj.review_count;
      if(obj.review_count<2){
        html+=' review'
      }else{
        html+=' reviews'
      }
      html += '</a></div>';

     //-  html+='<div class="item__body--rating">';
     //-   html +=obj.rating
     //- html +='</div>';
 
      html+='<div class="item__body--address"><a href="https://maps.google.com/?q='+obj.location.display_address[0]+ ' '+obj.location.display_address[1]+'" title="Open in Google Maps" target="_blank">'
      for(var j = 0; j < obj.location.display_address.length; j++) {
        html+='<div>'+obj.location.display_address[j]+'</div>';
      }    
      html += '</a></div>';

           //parking lot score
           
      html+='<div class="item__body--parkinglotScore">Parking lot score:<strong> '+Math.ceil(score)+'</strong></div>';


      html+='<div class="item__body--link"><a href="'+obj.url+'" title="Visit this in Yelp" target="_blank">Read more</a>';
      html += '</div>';
      html += '</div>';

      document.getElementById("list").innerHTML +=html;
      document.getElementById("startMsg").classList.add("hidden");

     }
   }

             