extends layout

block layout-content
  header div Coding Challenge
    h1.Banner WHATABYTE
    div.Message
      div.Title
        h3 Making the Best
        h1 Food For Devs
      span.Details Access the WHATABYTE Team Portal
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!
  main
    section
      form(action='/search', method='POST')
        input(type='text', name='fname', value='', placeholder="Enter location").inputForm__search
        input(type='submit', value='Submit').inputForm__button
    section
      div.Details=JSON.stringify(tripping, null, 2)
