#list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .item {
        // position: sticky;
        // top: 83px;
        display: flex;
        padding: 20px;
        margin: 10px;
        flex-grow: 1;
        border-radius: 4px;
        border: 1px solid var(--silver);
        cursor: pointer;
        transition: all 0.5s ease;
        height: 220px;
        width: 40%;
        background: var(--white);

        &:hover {

            box-shadow: 0 0 10px var(--gray);
        }


        &__img {
            border-radius: 4px;
            height: 150px;
            width: 150px;
            margin-right: 20px;
            overflow: hidden;
            transform: translateZ(0);
            align-items: center;
            justify-content: center;
            height: 100%;
            display: flex;

            .missing_image,
            img {
                height: 150px;
                width: 150px;
                border-radius: 4px;
                vertical-align: middle;
                box-sizing: border-box;
            }

            img {}

            .missing_image {
                background: var(--silver);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 80px;
                color: darkgrey;
            }
        }

        &__body {

            &--parkinglotScore,
            &--address,
            &--rating,
            &--review {
                margin-bottom: 5px;

            }

            &--name {
                font-weight: 700;
                font-size: 20px;
            }

            &--rating {
                display: flex;
                color: var(--silver);

                .star {
                    font-size: 20px;
                    padding: 4px;
                    border-radius: 4px;
                    margin-right: 3px;
                    background: var(--lightgray);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 26px;
                    width: 26px;

                    &__red {
                        background: var(--red);

                        &.half {
                            position: relative;



                            &:last-of-type {
                                &:before {
                                    content: "";
                                    position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    right: -1px;
                                    border-radius: 0 4px 4px 0;
                                    width: 18px;
                                    background: var(--lightgray);
                                }

                                &:after {
                                    font-family: "Font Awesome 6 Pro";
                                    content: "";
                                    font-weight: 900;
                                    position: absolute;
                                    right: 5px;
                                    color: var(--silver);
                                    top: 6px;
                                    z-index: 0;
                                }

                                i {
                                    &:before {
                                        content: '\f089';
                                    }
                                }
                            }
                        }
                    }
                }
            }


            &--parkinglotScore,
            &--link,
            &--review {
                font-size: 13px;

            }


            &--parkinglotScore {
                border-bottom: 1px solid var(--silver);
                padding: 3px 0;
            }

            &--link {}

            &--address,
            &--parkinglotScore {
                border-top: 1px solid var(--silver);
            }

            &--address {

                padding-top: 3px;

                a {
                    transition: all 0.5s ease;

                    font-weight: 300;
                    color: var(--black);

                    &:hover {
                        color: var(--blue);
                    }
                }
            }
        }
    }
}

@import 'recordCount';