:root{--white:#ffffff;--blue:#3498db;--silver:#ecf0f1;--gray:#bdc3c7;--lightgray:#e3e3e3;--black:#282828;--darkgray:#7f8c8d;--darkblue:#2c3e50;--yellow:#e67e22;--green:#27ae60;--blueH:#3498db;--greenH:#2ecc71;--red:#e74c3c}
body,html{font-family:"Open Sans",sans-serif;font-size:1rem;margin-bottom:2.5rem}
body{margin:0;background:#f5f5f5;color:var(--black)}
.center{text-align:center}
.hidden{display:none}
a{color:var(--blue);text-decoration:none}
a:hover{color:var(--blueH)}
header{position:-webkit-sticky;position:sticky;top:0;z-index:1;background:var(--white);border-bottom:.0625rem solid var(--silver);color:var(--black);font-size:1.125rem;padding:.625rem;height:3.125rem;display:flex;align-items:center;justify-content:space-between}
.inputForm{width:100%;display:flex;align-items:center;justify-content:center}
.inputForm form{display:flex;align-items:center}
.inputForm__button,.inputForm__search{border-radius:.25rem}
.inputForm__search{height:2.125rem;width:26.1875rem;padding:.625rem 1.25rem;border:.0625rem solid var(--gray)}
.inputForm__search:focus{outline:var(--greenH);border:.0625rem solid var(--greenH)}
.inputForm__button{display:flex;align-items:center;justify-content:center;font-size:.75rem;height:2.25rem;width:4.5rem;padding:.625rem 1.25rem;border:.0625rem solid var(--gray);margin-right:.625rem;background:var(--white);cursor:pointer}
#list{display:flex;flex-wrap:wrap;justify-content:center}
#list .item{display:flex;padding:1.25rem;margin:.625rem;flex-grow:1;border-radius:.25rem;border:.0625rem solid var(--silver);cursor:pointer;transition:all .5s ease;height:13.75rem;width:40%;background:var(--white)}
#list .item:hover{box-shadow:0 0 .625rem var(--gray)}
#list .item__img{border-radius:.25rem;height:9.375rem;width:9.375rem;margin-right:1.25rem;overflow:hidden;transform:translateZ(0);align-items:center;justify-content:center;height:100%;display:flex}
#list .item__img .missing_image,#list .item__img img{height:9.375rem;width:9.375rem;border-radius:.25rem;vertical-align:middle;box-sizing:border-box}
#list .item__img .missing_image{background:var(--silver);display:flex;align-items:center;justify-content:center;font-size:5rem;color:#a9a9a9}
#list .item__body--address,#list .item__body--parkinglotScore,#list .item__body--rating,#list .item__body--review{margin-bottom:.3125rem}
#list .item__body--name{font-weight:700;font-size:1.25rem}
#list .item__body--rating{display:flex;color:var(--silver)}
#list .item__body--rating .star{font-size:1.25rem;padding:.25rem;border-radius:.25rem;margin-right:.1875rem;background:var(--lightgray)}
#list .item__body--rating .star__red{background:var(--red)}
#list .item__body--rating .star__red.half{position:relative}
#list .item__body--rating .star__red.half:last-of-type i:before{content:"\f089"}
#list .item__body--link,#list .item__body--parkinglotScore,#list .item__body--review{font-size:.8125rem}
#list .item__body--parkinglotScore{border-bottom:.0625rem solid var(--silver);padding:.1875rem 0}
#list .item__body--address,#list .item__body--parkinglotScore{border-top:.0625rem solid var(--silver)}
#list .item__body--address{padding-top:.1875rem}
#list .item__body--address a{transition:all .5s ease;font-weight:300;color:var(--black)}
#list .item__body--address a:hover{color:var(--blue)}
#recordCount{position:fixed;padding:.625rem;bottom:-.625rem;right:.625rem;left:.625rem;font-size:.6875rem;display:flex;justify-content:center;z-index:100}
#recordCount div{background:var(--white);padding:.625rem;border-radius:.625rem .625rem 0 0;box-shadow:0 -.0625rem .6875rem var(--silver)}
@media only screen and (max-width:20rem){
form{width:16.25rem!important}
}
@media only screen and (max-width:23.4375rem){
form{width:18.75rem}
}
@media only screen and (max-width:26.5625rem){
header{flex-direction:column;height:5.625rem}
.inputForm{display:flex;justify-content:center;align-items:center;width:100%}
form{width:22.5rem}
.inputForm__button{display:none}
.inputForm__search{width:100%}
}
@media only screen and (min-device-width:48rem) and (max-device-width:64rem){
.inputForm__search{width:70%}
#list .item{height:16.875rem;flex-direction:column;justify-content:center;align-items:center}
#list .item__img{width:100%;justify-content:center;align-items:center;display:flex;margin:0}
#list .item__img .missing_image,#list .item__img img{height:10.625rem}
}
@media only screen and (min-width:64rem){
#list .item{width:20%}
form{width:25.625rem}
}
@media only screen and (min-width:76.5rem){
#list .item{width:40%}
}
@media only screen and (min-width:114rem){
#list .item{width:20%}
}